<!DOCTYPE html>
<html>
    <head>
        <title>App Number 2</title>
    </head>
    <body>
        <h1>Home</h1>
        <form method="POST" action="/results">
            <p>Enter your github name: 
                <input name="github" />
                </p>
                <p>Enter your bae's name: 
                <input name="bae" />
                </p>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>