<!DOCTYPE html>
<html>
    <head>
        <title>App Number 2</title>
    </head>
    <body>
        <h1>Results</h1>
        <h3><%=myData.name %> is in love with<% myBoo %></h3>
        <h3><% myGithub %></h3>
        <h3>info: <%= JSON.stringify(myData, null, 2) %></h3>
    </body>
</html>